:root{
    /* * PALETTE */
    --sidebar-bg: #000000;
    --upgrade-section-bg: #080b12;
    --player-bg: #282828;
    --content-container-bg: #141922;
    --primary-txt-color: white;
    --secondary-txt-color: #747474;
    --progress-bar-color: #5a5a5a;
    --progress-color:#c1c1c1;
    
    /* * LAYOUT */
    --player-height: 120px;
    --sidebar-width: 300px;
}

/* ! reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ! generics */
body{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    display: block;
    width: 100%;
}

.d-flex{
    display: flex;
}

/* ! APP TOP */

/* ? sidebar */
#app-sidebar{
    height: calc(100vh - var(--player-height));
    width: var(--sidebar-width);
    background-color: var(--sidebar-bg);
}

/* ? app content */
#app-content{
    height: calc(100vh - var(--player-height));
    flex-grow: 1;
    flex-shrink: 0;
    background-color: var(--content-container-bg);
}

/* ! PLAYER */
#app-player{
    height: var(--player-height);
    background-color: var(--player-bg);
}


/* MEDIA XS */
@media screen and (max-width: 576px) {
    :root{
        --sidebar-width: 80px;
        --player-height: 80px;
    }
}